{% extends "base.html" %}
{% load static %}
{% block body %}
  <link rel="stylesheet" href="/static/css.css" />
<body>
    <main class="app" align="center">
        <nav class="nav">
            Привет, {{ user.username }}
            <a href="{% url 'logout' %}">Выйти</a>
        </nav>

        <div class="container">
            <div id='coins'>{{core.coins}}</div>
            <button class = 'but' onclick="call_click()"><img src="https://c.tenor.com/VQNrqGw563MAAAAS/%D1%81%D0%BF%D0%B0%D0%B9%D0%BA-%D0%BB%D0%B5%D0%B3%D0%B0.gif" width="400" height="400"></button>
            <p>
                Невероятная мощь бройлера: <span id="click_power">{{ core.click_power }}</span>
            </p>
            <p>
                Невероятная мощь банок: <span id="auto_click_power">{{ core.auto_click_power }}</span>
            </p>
        </div>

        <aside class="boosts" id="boosts">
            <h3>Банки</h3>
            <div class="boosts-holder" id="boosts-holder">
                {% for boost in boosts %}
                    <button class="boost_{{boost.type}} but" id="boost_{{boost.id}}" onclick="buy_boost({{boost.id}})">
                        <p>lvl: <span id="boost_level">{{boost.level}}</span></p>
                        <p>+<span id="boost_power">{{boost.power}}</span></p>
                        <p><span id="boost_price">{{boost.price}}</span></p>
                    </button>
                {% endfor %}
            </div>
        </aside>
         <audio autoplay>
    <source src="https://www.mboxdrive.com/%D0%9D%D0%B5%D0%B8%D0%B7%D0%B2%D0%B5%D1%81%D1%82%D0%B5%D0%BD%20-%20%D0%9F%D0%95%D0%A1%D0%9D%D0%AF%20%D0%9F%D0%A0%D0%9E%20%D0%91%D0%A0%D0%AA%D0%AA%D0%9E%D0%A3%D0%92%D0%9B%20%D0%A1%D0%A2%D0%90%D0%A0%D0%A1.mp3" >
  </audio>
    </main>
</body>
{% endblock %}