<link rel="stylesheet" href="/static/css2.css" />
{% extends "base.html" %}
{% block body %}
<body>
<main class="kub" align="center">
  <form action="{% url 'register' %}" method="POST" class="fon">
      {% csrf_token %}
      {{user_form.as_p}}
      <button type="submit">Жмыхнуться</button>
    </form>
    <a href="{% url 'login' %}">Опытный жмых?</a>
    <audio autoplay>
    <source src="https://www.mboxdrive.com/Lil%20TaRn,%20Mendokusai,%20CRAYN%20-%20%D0%AF%20%D0%9A%D0%90%D0%9A%20%D0%9A%D0%9E%D0%9B%D0%AC%D0%A2.mp3" >
  </audio>
    </main>
    </body>
{% endblock %}